.home-container {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.home-container .card {
    align-self: center;
    width: 80%;
}

h5.card-title {
    margin-top: 8px;
    margin-bottom: 0;
}

.btn {
    height: 40px;
}

.btn-student-modal {
    margin-top: 12px;
}

i.actions {
    cursor: pointer;
}

nav {
    display: none;
}

.pagination li {
    cursor: pointer;
}

.custom-alert {
    position: absolute;
    width: 30%;
    right: 0;
    margin: 20px;
}

.action {
    cursor: pointer;
}