html, body {
    background: rgb(241, 243, 244) !important;
    font-family: Roboto;
    margin: 0;
    box-sizing: border-box;
}

.custom-alert {
    display: none;
}

form > .custom-alert {
    position: absolute;
    top: -70px;
    width: 100%;
    left: 0;
}