.login-container {
    max-width: 768px;
    margin: auto;
    height: 100vh;
    padding-top: 300px;
}

#login-form {
    max-width: 500px;
    margin: auto;
    border: 1px solid rgb(218, 220, 224);
    background: white;
    border-radius: 4px;
    padding: 30px;
}
