h2 {
   margin-bottom: 8px; 
}

form {
    height: 100%;
}

form::after {
    content: "";
    clear: both;
    display: table;
}

form button {
    float: right;
    width: 100px;
}

input {
    margin-bottom: 15px;
}

input[type="email"] {
    display: block;
    width: 95%;
    height: 30px;
    padding-left: 8px;
}

input[type="password"] {
    display: block;
    width: 95%;
    height: 30px;
    padding-left: 8px;
}

.login-container {
    max-width: 768px;
    margin: auto;
    height: 100vh;
    padding-top: 300px;
}

.login-container .form-container {
    max-width: 400px;
    margin: auto;
    border: 1px solid rgb(218, 220, 224);
    background: white;
    border-radius: 4px;
    padding: 30px;
}

