h2 {
    margin: 0;
}

.signup-container {
    max-width: 768px;
    margin: auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#signup-form {
    width: 60%;
    padding: 15px;
    margin: auto;
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    position: relative;
}