#student-form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: white;
}

button[type="submit"] {
    width: 100%;
}

.student-container {
    padding-top: 200px;
}